<form (submit)="createProduct($event)">
  <h2 class="error">{{error}}</h2>
  <div>
    <label>Name: </label>
    <input type="text" name="name" [(ngModel)]="productToAdd.name">
  </div>
  <div>
    <label>Description: </label>
    <textarea aria-multiline="true" name="description" [(ngModel)]="productToAdd.description"></textarea>
  </div>
  <div>
    <label>Price: </label>
    <input type="number" step="0.1" name="price" min="0" [(ngModel)]="productToAdd.price">
  </div>
  <div>
    <label>Stock: </label>
    <input type="number" step="1" name="stock" min="0" [(ngModel)]="productToAdd.stock">
  </div>
  <button>Add</button>
</form>
