<form (submit)="register($event)">
  <h1>Register</h1>
  <h2 class="error">{{error}}</h2>
  <div>
      <label>Username:</label>
      <input type="text" name="username" required [(ngModel)]="user.username">
  </div>
  <div>
      <label>Password:</label>
      <input type="password" name="password" required [(ngModel)]="user.password">
  </div>
  <div>
      <label>Email:</label>
      <input type="email" name="email" required [(ngModel)]="user.email">
  </div>
  <button type="submit">Register</button>
  <a href="/">Login</a>
</form>
